
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html {font-family:'Nanum Gothic', sans-serif;}
.main_container {max-width:1250px; margin: 0 auto; color:#4d4d4d}

.tit_area {padding-bottom: 50px;}
a { font:inherit; color:#aaa}
.tit { color:#4d4d4d; font-size: 40px; }
.tit_date { color: #ccc}
.note_txt {display: block; color:#acacac; padding-top: 10px;}
