@charset "UTF-8";
.page_tit { padding: 3.2rem 2.2rem; border-bottom: 3px solid #323349; font-size: 3.6rem; font-weight: 700; letter-spacing: -0.75px; }

.neung_daily_cont { max-width: 1080px; margin: 0 auto; }

.neung_daily_wrap { padding: 30px 0 6rem; }

.neung_daily_wrap .list { display: flex; flex-wrap: wrap; }

.neung_daily_wrap .list li { width: 330px; margin: 15px; }

.neung_daily_wrap .list li:hover { box-shadow: 0px 35px 27px -23px rgba(0, 0, 0, 0.2); }

.neung_daily_wrap .list li:hover .main_img img { transform: scale(1.1); transition: .6s; }

.neung_daily_wrap .main_img { display: block; overflow: hidden; height: 230px; }

.neung_daily_wrap .main_img img { transition: .4s; }

.neung_daily_wrap .li_tit { padding: 2rem 0; font-size: 2rem; letter-spacing: -1px; color: #222; }

.neung_daily_wrap .li_hash { display: -webkit-box; overflow: hidden; height: 48px; margin-bottom: 30px; font-size: 1.6rem; letter-spacing: -0.6px; color: #878787; text-overflow: ellipsis; line-clamp: 3; box-sizing: border-box; }

.neung_daily_wrap .cont_tail { display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding-bottom: 10px; border-bottom: 1px solid #bbb; }

.neung_daily_wrap .cont_tail .btn_detail { display: block; width: 112px; height: 36px; padding: 0 17px; line-height: 36px; box-sizing: border-box; background: #bbb; font-size: 1.4rem; letter-spacing: -0.6px; color: #fff; cursor: pointer; }

.neung_daily_wrap .cont_tail .btn_detail:hover { background: #ffb64e; }

.neung_daily_wrap .cont_tail .date { display: block; width: 100px; letter-spacing: -0.4px; font-size: 1.4rem; color: #bbb; text-align: right; }

.layer_box { display: none; position: fixed; left: 50%; top: 50%; width: 1080px; height: 500px; margin-left: -540px; margin-top: -250px; z-index: 100; }

.layer_box.on { display: block; }

.layer_box .post_wrap { display: flex; position: relative; width: 100%; height: 100%; background: #fff; }

.layer_box .btn_prevpost, .layer_box .btn_nextpost { display: block; width: 28px; height: 50px; position: absolute; top: 50%; margin-top: -25px; transition: .1s; cursor: pointer; }

.layer_box .btn_prevpost:hover, .layer_box .btn_nextpost:hover { transform: scale(1.1); }

.layer_box .btn_prevpost.off, .layer_box .btn_nextpost.off { display: none; }

.layer_box .btn_prevpost { left: -43px; background: url(../img/common/left_arrow.png) no-repeat 0 0/cover; }

.layer_box .btn_nextpost { right: -43px; background: url(../img/common/right_arrow.png) no-repeat 0 0/cover; }

.js-slick { position: relative; width: 540px; height: 100%; overflow: hidden; }

.js-slick .slick-dots { position: absolute; bottom: 20px; left: 0; width: 100%; display: flex; justify-content: center; align-items: center; }

.js-slick .slick-dots li { padding: 0 3px; }

.js-slick .slick-dots li.slick-active button { background: #000; opacity: .3; cursor: default; }

.js-slick .slick-dots button { display: block; width: 7px; height: 7px; background: #f1f1f1; opacity: .9; font-size: 0; cursor: pointer; }

.daily_detail_box { position: relative; width: 540px; padding: 3.5rem 4rem; font-family: '나눔스퀘어', '나눔고딕', sans-serif; box-sizing: border-box; }

.daily_detail_box .date { font-size: 1.4rem; color: #bbb; letter-spacing: -0.5px; }

.daily_detail_box .li_tit { padding: 2rem 0 2.4rem; font-size: 3rem; font-weight: 700; letter-spacing: -1px; }

.daily_detail_box .post_box { font-weight: 300; color: #878787; letter-spacing: -0.9px; word-break: keep-all; font-size: 1.8rem; line-height: 1.4; }

.daily_detail_box .post_box b { font: inherit; font-weight: bold; }

.daily_detail_box .post_box .small_txt { font-size: 1.2rem; }

.daily_detail_box .js-slick_thumb { width: calc(100% - 8rem); height: 88px; overflow: hidden; position: absolute; bottom: 3.5rem; left: 4rem; }

.daily_detail_box .js-slick_thumb .slick_thumb_wrap { height: 100%; }

.daily_detail_box .js-slick_thumb .img_area { position: relative; max-width: 115px; width: 100%; height: 100%; margin-right: 10px; cursor: pointer; }

.daily_detail_box .js-slick_thumb .img_area:after { content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); transition: .3s; z-index: 1; }

.daily_detail_box .js-slick_thumb .img_area:hover:after { background: rgba(0, 0, 0, 0); }

.daily_detail_box .js-slick_thumb .img_area.slick-current:after { background: rgba(0, 0, 0, 0); }
/*# sourceMappingURL=daily.css.map */