@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


html {font-family:'Nanum Gothic Coding', monospace; font-weight:400}

.blind {
    width : 1px; height : 1px;
    position : absolute;
    padding : 0; margin: -1px; overflow   : hidden;
    clip : rect(0, 0, 0, 0); border : 0; *visibility: hidden;
}
.mask {
    display: none; width:100%; height:100%;
    position: fixed; left:0; top:0;
    background:rgba(0,0,0,0.5);
    z-index: 0;

    &.on {display: block;}
}

.btn_closepop {
    display: none; width: 30px; height:30px;
    position: fixed; right:60px; top:60px;
    background: url(../img/common/btn_close.png) no-repeat 0 0/cover;
    transition:.3s;
    z-index: 1;

    &.on {display: block;}
    &:hover {width:40px; height:40px; transition:.3s; cursor: pointer;}
}

::selection {background: rgba(255,238,51,0.99);}



.bmhd_wrap {background: #1e1e1e;}
.bm_header {
    display: flex;
    justify-content: space-around;
    width:1200px; margin: 0 auto;

    li {
        padding: 20px 0;
        color:#999;        
        font-size:3rem;

        
        &:hover {text-decoration: underline; text-decoration-color: rgb(255,238,51); cursor: pointer;}
        &.active {color:#fff;}
        &.active:hover {text-decoration: none; cursor: default;}
    }
}


.bm_wrap {
    width:1200px; margin: 0 auto;
    padding: 40px 10px;
    color:#1e1e1e;
}

.js-toggle_active { display:none; }

.bm_cont {
    padding-top: 30px;
    &:first-of-type {
        padding-top: 10px;
    
        .tit_category {padding-top: 0;}
    }
}
.tit_category {
    padding: 2rem 0;
    font-size:2.2rem; font-weight: bold;
}

.list_wrap {display:flex;}
.list_cont {width:25%;
    .bm_list {width:initial}
}
.bm_list {
    width:25%;
    li {
        padding: 10px;
        font-size:1.6rem;
    
        &:hover {cursor: pointer; background: rgba(255,238,51,0.5)} 
    }
}


.color_dev {
    color:#311b92;
}

.color_no {color:initial}
.color_normal {
    color:#00796b;
}

.color_security{color:#b71c1c}