html, body {
  margin: 0;
}
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  .tit_page {
    margin: 0;
    position: absolute;
    top: -4px; right: 5px;
    color: transparent;
    text-shadow: 0 0 3px white;
    letter-spacing: -1px;
    font-size: 3rem;
  }

  .tit_date { position: absolute; left:10px; top:10px; color: #ccc; }